body{
  width: 90%;
  max width: 800px;
  margin: auto;
  font-family: Manjari;
  line-height: 1.5;
  background: url(bg.jpg) center;
  color:white;
}

main{

  border-radius: 10px;
  background: #ffffff4d;
  padding: 40px;
  margin-top: 40px;
  margin-left: 300px;
  margin-right: 300px;


}

.men, .nome, .headline, .footer{

  text-align: center;
  margin: 0;

}

.input[type=text]{
  width: 100%
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  resize: vertical;
}


.email, .password{
  width: 100%
  padding: 12px;
  border: 1px solid #ccc;
  box-sizing: border-box;
  resize: vertical;
  border-radius: 10px;
}

.LoginSquare{
  text-align: center;
  margin-left: 30px;
  margin-right: 30px;
  width: 100%;
  margin-left: 30px;

  border-radius: 10px;
  padding: 10px;
  margin: 0;
  background: #00000099;
}

.button{
  background-image: url("logo.png");
}

.instabut{
  width:50px;
  height:30px;
}
